
*{
  margin:0;
  padding: 0;
}


.tabela_borda th {
  border: 1px solid black;
}
.tabela_borda td {
  border: 1px solid black; 
}



.linha {
  border: 2px solid black;
}


.textoResultado{
  font-size: 24px;
}
@media (max-width: 990px) {
  .textoResultado {

    font-size: 18px; 
  }
}